<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/images/favicon.png"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/animate.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/simple-line-icons.css" type="text/css"/>
    <!--<link rel="stylesheet" href="/stylesheets/font.css" type="text/css" />-->
    <!--<link rel="stylesheet" href="/stylesheets/app.css" type="text/css" />-->
</head>
<body ng-controller="AppCtrl">
<div class="app" id="app" ui-view></div>
<!-- jQuery -->
<script src="/javascripts/jquery/jquery.min.js"></script>
<!-- Angular -->
<script src="/javascripts/angular/angular.js"></script>
<script src="/javascripts/angular/angular-animate/angular-animate.js"></script>
<script src="/javascripts/angular/angular-cookies/angular-cookies.js"></script>
<script src="/javascripts/angular/angular-resource/angular-resource.js"></script>
<script src="/javascripts/angular/angular-sanitize/angular-sanitize.js"></script>
<script src="/javascripts/angular/angular-touch/angular-touch.js"></script>
<!-- Vendor -->
<script src="/javascripts/angular/angular-ui-router/angular-ui-router.js"></script>
<script src="/javascripts/angular/ngstorage/ngStorage.js"></script>

<!-- bootstrap -->
<script src="/javascripts/angular/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- lazyload -->
<script src="/javascripts/angular/oclazyload/ocLazyLoad.js"></script>
<!-- translate -->
<script src="/javascripts/angular/angular-translate/angular-translate.js"></script>
<script src="/javascripts/angular/angular-translate/loader-static-files.js"></script>
<script src="/javascripts/angular/angular-translate/storage-cookie.js"></script>
<script src="/javascripts/angular/angular-translate/storage-local.js"></script>
<!-- App -->
<script src="/javascripts/app.js"></script>
<script src="/javascripts/config.js"></script>
<script src="/javascripts/config.ui.js"></script>
<!--<script src="/javasripts/config.lazyload.js"></script>-->
<script src="/javascripts/config.router.js"></script>
<script src="/javascripts/main.js"></script>
<!-- Lazy loading -->
</body>
</html>